<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body background="https://media.istockphoto.com/photos/futuristic-digital-block-chain-background-picture-id1212911887?k=20&m=1212911887&s=612x612&w=0&h=W7cA4FP_AS2UkZPSNKqFMyWfvV9tAmNCS9RMunKQc9s=">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<!-- include nav bar using header(html file)-->
    {% include 'include/header.html' %}
    <!--end including html file -->
<br>
<!--First row of the events -->
<div class="container-fluid" >
  <div class="row">
    <div class="col-md-4 ">
      <a style="text-decoration:none">
      <div class="card" style="...">
        <img class="img-responsive" src="https://media.istockphoto.com/photos/hackathon-technology-threat-online-coding-2d-illustration-picture-id1061007660?k=20&m=1061007660&s=612x612&w=0&h=bSEAbfa4gHBDiArElJdzrp0_nkZRyQItYw1xiTc0ZpQ=" class="card-img-top" alt="..." height="300">
        <div class="card-body" >
          <p class="card-text" style="color:black">This hackathon is an online coding challenge. You can register this hackathon and win some goodies also cash prizes. </p>
        </div>
        <ul class="list-group list-group-flush" >
          <li class="list-group-item">Date:28/07/2022</li>
          <li class="list-group-item">Time:05:00 pm to 07:00pm</li>
          <li class="list-group-item">Venue:Online</li>
          <li class="list-group-item">Price:500₹</li>
        </ul>
      </div>
      </a>
    </div>
      <div class="col-md-4">
        <a style="text-decoration:none">
      <div class="card" style="..." >
        <img class="img-responsive" src="https://media.istockphoto.com/vectors/machine-learning-banner-logo-for-technology-ai-big-data-algorithm-vector-id1273072739?k=20&m=1273072739&s=612x612&w=0&h=JpD6VpFDGXzsHZK9gKBHJ0MK4p5_5M8V6bKngzKAirQ=" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <p class="card-text" style="color:black">The Machine Learning Workshop begins by demonstrating how unsupervised and supervised learning algorithms work by analyzing a real-world dataset of wholesale customers. </p>
        </div>
        <ul class="list-group list-group-flush" >
          <li class="list-group-item">Date:28/07/2022</li>
          <li class="list-group-item">Time:09:00 am to 12:00pm</li>
          <li class="list-group-item">Venue:Seminar hall-103</li>
          <li class="list-group-item">Price:500₹</li>
        </ul>
    </div>
        </a>
      </div>
      <div class="col-md-4 ">
        <a style="text-decoration:none">
      <div class="card" style="...">
        <img class="img-responsive" src="https://media.istockphoto.com/vectors/abstract-futuristic-black-and-blue-gaming-background-with-modern-vector-id1247895560?k=20&m=1247895560&s=612x612&w=0&h=R8Im100nsCLodRa7hv1RyrPRKDaaoR3IvHWfuVbkDp8=" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <p class="card-text" style="color:black" >Gaming Events : Pubg, COD ,NFS most wanted .</p>
        <br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date:28/07/2022</li>
          <li class="list-group-item">Time:02:00 pm to 04:00pm</li>
          <li class="list-group-item">Venue:Central Computer Center</li>
          <li class="list-group-item">Price:500₹</li>
        </ul>
      </div>
        </a>
    </div>
  </div>
</div>

<br>
<!--Second row of the events -->
<div class="container-fluid" >
  <div class="row">
    <div class="col-md-4 ">
      <a style="text-decoration:none">
      <div class="card" style="...">
        <img class="img-responsive" src="https://images.unsplash.com/photo-1518314916381-77a37c2a49ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cm9ib3RpY3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <p class="card-text" style="color:black">This is a Robot Battle.In this battle two team's(four member in each) robot will play the football and winner team will be awarded cash prize. </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date:29/07/2022</li>
          <li class="list-group-item">Time:04:00 pm to 07:00pm</li>
          <li class="list-group-item">Venue:Old sport complex</li>
          <li class="list-group-item">Price:500₹</li>
        </ul>
      </div>
      </a>
    </div>
    <div class="col-md-4">
      <a style="text-decoration:none">
      <div class="card" style="...">
        <img class="img-responsive" src="https://images.unsplash.com/photo-1535551951406-a19828b0a76b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGNvbXB1dGVyJTIwbGFuZ3VhZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <p class="card-text" style="color:black">Identify the language by the given syntax. </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date:29/07/2022</li>
          <li class="list-group-item">Time:09:00 am to 10:00pm</li>
          <li class="list-group-item">Venue:Seminar hall-103</li>
          <li class="list-group-item">Price:500₹</li>
        </ul>
    </div>
      </a>
    </div>
      <div class="col-md-4 ">
        <a style="text-decoration:none">
      <div class="card" style="...">
        <img class="img-responsive" src="https://images.unsplash.com/photo-1455514155824-09e1b14cef47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mnw4NTYwMjExfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <p class="card-text" style="color:black">Photoshop Workshop</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date:29/07/2022</li>
          <li class="list-group-item">Time:10:00 am to 01:00pm</li>
          <li class="list-group-item">Venue:LHC-A 303</li>
          <li class="list-group-item">Price:500₹</li>
        </ul>
      </div>
        </a>
    </div>
  </div>
</div>

<br>

<!--third row the events  -->
<div class="container-fluid" >
  <div class="row">
    <div class="col-md-4 ">
      <a style="text-decoration:none">
      <div class="card" style="..." >
        <img class="img-responsive" src="https://images.unsplash.com/photo-1601933470096-0e34634ffcde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym95JTIwYW5kJTIwZ2lybCUyMGNvbXB1dGVyJTIwcHJvZ3JhbW1pbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <p class="card-text" style="color:black">Programmers Date : Ask a Female coder to partner with a Male Programmer and go on a programming date, which will be a over night Hackathon.. </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date:29/07/2022 to 30/07/2022</li>
          <li class="list-group-item">Time:04:00 pm to 10:00am</li>
          <li class="list-group-item">Venue:Online</li>
          <li class="list-group-item">Price:500₹</li>
        </ul>
      </div>
      </a>
    </div>
  </div>
</div>

</body>
</html>


